<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Express App</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <div class="login hide-login">
        <form class="login-container hide-form" method="POST" action="login">
           <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-and-lines-1/2/22-256.png" alt="" />
           <div class="input-container hide-section">
              <p><input type="email" placeholder="Email" name="email" /></p>
              <p><input type="password" placeholder="Password" name="password" /></p>
              <p><input type="submit" value="Log in" /></p>
           </div>
        </form>
     </div>
     <script src="./js/animate.js"></script>
</body>
</html>